html{
    background: rgb(39, 37, 37);
    background: linear-gradient(160deg, rgb(39, 37, 37) 25%, rgba(39, 37, 37, 0.75));

    height: 100%;
    color: white;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(27, 27, 27);
}

body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center ;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;

    width: 100%;
    background-color: rgb(27, 27, 27);
}

a{
    color: white;
    text-decoration: none;
}

#home{
    max-width: 32px;    
    max-height: 32px;
}

#navLogo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2px;
}

#GitHubLink{
    max-width: 32px;    
    max-height: 32px;
}

#neko{
    max-width: 300px;
}